.classpath
.eclipse/
.project
.revision/
.settings/
build/
bin/
*.log
*.out
lib/
*~
.gradle/
run/
*localBlockSnapshotStoreTable/
*versionMapTable/
*localEpochBitmapsTable/
inputFiles/
shared-local-instance.db
\#*
working_dir/
rocky_venv/
grpc_generated/